@charset "utf-8";

body {
  font-size: 12px;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Kaisei Opti', serif;
  background-color: #33f8c051;

}

main {
  width: 280px;
  height: 250px;
  margin: 60px auto;
}

section {
  height: 100%;
  border: 3px dotted rgb(255, 255, 255);
  text-align: center;
  background-color: #0a92b4;
  border-radius: 50px;
}

div {
  margin: 0px;
  padding: 40px 0;
}

p {
  margin: 0;
  color: white;
  font-size: 16px;
  padding: 25px 0;
}

button {
  all: unset;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  background-color: #ffffff;;
  color: #393939;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 0;
  box-shadow: 2px 2px #122c5762;;
  transition-property: border-radius;
  transition-duration: 1s;
}

button:hover {
  opacity: 0.8;
  border-radius: 50px;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 1px #393939;
}

.message{
    font-size: 9px;
    text-align: center;
    margin: 20px;
    color: #393939;
}